In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("Train_dataset.xlsx")

In [3]:
df.shape

(7383, 15)

In [4]:
# df.info()
df.head()

,Stock Index,Index,Industry,VWAP,General Index,NAV,P/E Ratio,Volumes Traded,Inventory Turnover,Covid Impact (Beta),Tracking Error,Dollar Exchange Rate,Put-Call Ratio,P/B Ratio,Stock Price
0,AA1,NYSE,Real Estate,700.29,12765.84,32.38,45.35,1208599.0,5.05,-0.43,0.0520,1.0,0.61,9.20,156.987852
1,AA2,NYSE,Information Tech,214.52,12765.84,33.25,170.56,13753356.0,3.10,0.23,0.0164,1.0,NaN,6.91,560.859622
2,AA3,NYSE,Information Tech,943.42,12765.84,88.27,143.58,6892003.0,7.70,0.23,0.0396,1.0,NaN,6.09,1279.732874
3,AA4,BSE,Materials,828.13,38182.08,73.66,151.76,8316793.0,4.80,0.03,0.0431,74.9,1.11,5.60,1121.787632
4,AA5,S&P 500,Real Estate,NaN,3351.28,23.79,NaN,3943312.0,8.06,-0.43,0.0244,1.0,1.07,9.46,382.962534

In [5]:
# from pandas_profiling import ProfileReport
# profile = ProfileReport(df, title='Pandas Profiling Report', html={'style':{'full_width':True}})
# profile

In [6]:
df.isnull().sum()

Stock Index               0
Index                     0
Industry                  0
VWAP                     38
General Index            62
NAV                      61
P/E Ratio               234
Volumes Traded          268
Inventory Turnover      399
Covid Impact (Beta)     376
Tracking Error           71
Dollar Exchange Rate     77
Put-Call Ratio           85
P/B Ratio                25
Stock Price               0
dtype: int64

In [7]:
# explicitly require this experimental feature
from sklearn.experimental import enable_iterative_imputer  # noqa
# now you can import normally from sklearn.impute
from sklearn.impute import IterativeImputer
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.linear_model import BayesianRidge
import random

imputer = IterativeImputer(BayesianRidge())
df_num = df.drop(["Stock Index", "Index", "Industry"], axis=1)
imputer.fit(df_num)

IterativeImputer(add_indicator=False,
                 estimator=BayesianRidge(alpha_1=1e-06, alpha_2=1e-06,
                                         compute_score=False, copy_X=True,
                                         fit_intercept=True, lambda_1=1e-06,
                                         lambda_2=1e-06, n_iter=300,
                                         normalize=False, tol=0.001,
                                         verbose=False),
                 imputation_order='ascending', initial_strategy='mean',
                 max_iter=10, max_value=None, min_value=None,
                 missing_values=nan, n_nearest_features=None, random_state=None,
                 sample_posterior=False, tol=0.001, verbose=0)

In [8]:
X = imputer.transform(df_num)

In [9]:
print(X)

[[7.00290000e+02 1.27658400e+04 3.23800000e+01 ... 6.10000000e-01
  9.20000000e+00 1.56987852e+02]
 [2.14520000e+02 1.27658400e+04 3.32500000e+01 ... 9.43586836e-01
  6.91000000e+00 5.60859622e+02]
 [9.43420000e+02 1.27658400e+04 8.82700000e+01 ... 9.45027263e-01
  6.09000000e+00 1.27973287e+03]
 ...
 [1.31990000e+02 5.57220000e+04 2.61600000e+01 ... 1.22000000e+00
  5.09559276e+00 5.00869063e+02]
 [6.43720000e+02 3.35128000e+03 2.92400000e+01 ... 1.04000000e+00
  4.99167179e+00 1.13170686e+02]
 [1.26460000e+02 3.35128000e+03 2.33000000e+01 ... 1.23000000e+00
  5.09199781e+00 2.36641085e+02]]

In [10]:
df_tr = pd.DataFrame(X,columns=df_num.columns)

In [11]:
df_tr

,VWAP,General Index,NAV,P/E Ratio,Volumes Traded,Inventory Turnover,Covid Impact (Beta),Tracking Error,Dollar Exchange Rate,Put-Call Ratio,P/B Ratio,Stock Price
0,700.290000,12765.84,32.38,45.350000,1208599.0,5.05,-0.43,0.0520,1.0,0.610000,9.200000,156.987852
1,214.520000,12765.84,33.25,170.560000,13753356.0,3.10,0.23,0.0164,1.0,0.943587,6.910000,560.859622
2,943.420000,12765.84,88.27,143.580000,6892003.0,7.70,0.23,0.0396,1.0,0.945027,6.090000,1279.732874
3,828.130000,38182.08,73.66,151.760000,8316793.0,4.80,0.03,0.0431,74.9,1.110000,5.600000,1121.787632
4,486.022384,3351.28,23.79,127.723986,3943312.0,8.06,-0.43,0.0244,1.0,1.070000,9.460000,382.962534
...,...,...,...,...,...,...,...,...,...,...,...,...
7378,773.910000,11270.15,40.28,61.370000,19212221.0,4.34,0.78,0.0340,74.9,0.980000,4.988394,248.019321
7379,61.970000,55722.00,79.56,62.900000,8108942.0,3.48,0.23,0.0528,17.7,0.840000,5.046814,494.555631
7380,131.990000,55722.00,26.16,198.770000,8382586.0,3.04,0.03,0.0359,17.7,1.220000,5.095593,500.869063
7381,643.720000,3351.28,29.24,38.830000,18638400.0,2.66,0.03,0.0581,1.0,1.040000,4.991672,113.170686
7382,126.460000,3351.28,23.30,105.830000,14707806.0,7.51,0.23,0.0490,1.0,1.230000,5.091998,236.641085

In [12]:
df_tr.isnull().sum()

VWAP                    0
General Index           0
NAV                     0
P/E Ratio               0
Volumes Traded          0
Inventory Turnover      0
Covid Impact (Beta)     0
Tracking Error          0
Dollar Exchange Rate    0
Put-Call Ratio          0
P/B Ratio               0
Stock Price             0
dtype: int64

In [13]:
df1 = df.loc[:,["Stock Index", "Index", "Industry"]]

In [14]:
new_df = pd.concat([df1, df_tr], axis=1)

In [15]:
new_df

,Stock Index,Index,Industry,VWAP,General Index,NAV,P/E Ratio,Volumes Traded,Inventory Turnover,Covid Impact (Beta),Tracking Error,Dollar Exchange Rate,Put-Call Ratio,P/B Ratio,Stock Price
0,AA1,NYSE,Real Estate,700.290000,12765.84,32.38,45.350000,1208599.0,5.05,-0.43,0.0520,1.0,0.610000,9.200000,156.987852
1,AA2,NYSE,Information Tech,214.520000,12765.84,33.25,170.560000,13753356.0,3.10,0.23,0.0164,1.0,0.943587,6.910000,560.859622
2,AA3,NYSE,Information Tech,943.420000,12765.84,88.27,143.580000,6892003.0,7.70,0.23,0.0396,1.0,0.945027,6.090000,1279.732874
3,AA4,BSE,Materials,828.130000,38182.08,73.66,151.760000,8316793.0,4.80,0.03,0.0431,74.9,1.110000,5.600000,1121.787632
4,AA5,S&P 500,Real Estate,486.022384,3351.28,23.79,127.723986,3943312.0,8.06,-0.43,0.0244,1.0,1.070000,9.460000,382.962534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7378,AC3230,NSE,Healthcare,773.910000,11270.15,40.28,61.370000,19212221.0,4.34,0.78,0.0340,74.9,0.980000,4.988394,248.019321
7379,AC3231,JSE,Information Tech,61.970000,55722.00,79.56,62.900000,8108942.0,3.48,0.23,0.0528,17.7,0.840000,5.046814,494.555631
7380,AC3232,JSE,Materials,131.990000,55722.00,26.16,198.770000,8382586.0,3.04,0.03,0.0359,17.7,1.220000,5.095593,500.869063
7381,AC3233,S&P 500,Materials,643.720000,3351.28,29.24,38.830000,18638400.0,2.66,0.03,0.0581,1.0,1.040000,4.991672,113.170686
7382,AC3234,S&P 500,Information Tech,126.460000,3351.28,23.30,105.830000,14707806.0,7.51,0.23,0.0490,1.0,1.230000,5.091998,236.641085

In [16]:
# new_df.shape

In [17]:
# new_df.isnull().sum()

In [18]:
dummy_df_converted = pd.get_dummies(new_df, columns=["Index", "Industry"])

In [19]:
dummy_df_converted

,Stock Index,VWAP,General Index,NAV,P/E Ratio,Volumes Traded,Inventory Turnover,Covid Impact (Beta),Tracking Error,Dollar Exchange Rate,...,Index_BSE,Index_JSE,Index_NSE,Index_NYSE,Index_S&P 500,Industry_Energy,Industry_Healthcare,Industry_Information Tech,Industry_Materials,Industry_Real Estate
0,AA1,700.290000,12765.84,32.38,45.350000,1208599.0,5.05,-0.43,0.0520,1.0,...,0,0,0,1,0,0,0,0,0,1
1,AA2,214.520000,12765.84,33.25,170.560000,13753356.0,3.10,0.23,0.0164,1.0,...,0,0,0,1,0,0,0,1,0,0
2,AA3,943.420000,12765.84,88.27,143.580000,6892003.0,7.70,0.23,0.0396,1.0,...,0,0,0,1,0,0,0,1,0,0
3,AA4,828.130000,38182.08,73.66,151.760000,8316793.0,4.80,0.03,0.0431,74.9,...,1,0,0,0,0,0,0,0,1,0
4,AA5,486.022384,3351.28,23.79,127.723986,3943312.0,8.06,-0.43,0.0244,1.0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7378,AC3230,773.910000,11270.15,40.28,61.370000,19212221.0,4.34,0.78,0.0340,74.9,...,0,0,1,0,0,0,1,0,0,0
7379,AC3231,61.970000,55722.00,79.56,62.900000,8108942.0,3.48,0.23,0.0528,17.7,...,0,1,0,0,0,0,0,1,0,0
7380,AC3232,131.990000,55722.00,26.16,198.770000,8382586.0,3.04,0.03,0.0359,17.7,...,0,1,0,0,0,0,0,0,1,0
7381,AC3233,643.720000,3351.28,29.24,38.830000,18638400.0,2.66,0.03,0.0581,1.0,...,0,0,0,0,1,0,0,0,1,0
7382,AC3234,126.460000,3351.28,23.30,105.830000,14707806.0,7.51,0.23,0.0490,1.0,...,0,0,0,0,1,0,0,1,0,0

In [20]:
X = dummy_df_converted.drop(["Stock Index", "Index_NYSE", "Industry_Materials","Stock Price"], axis=1)

In [21]:
X

,VWAP,General Index,NAV,P/E Ratio,Volumes Traded,Inventory Turnover,Covid Impact (Beta),Tracking Error,Dollar Exchange Rate,Put-Call Ratio,P/B Ratio,Index_BSE,Index_JSE,Index_NSE,Index_S&P 500,Industry_Energy,Industry_Healthcare,Industry_Information Tech,Industry_Real Estate
0,700.290000,12765.84,32.38,45.350000,1208599.0,5.05,-0.43,0.0520,1.0,0.610000,9.200000,0,0,0,0,0,0,0,1
1,214.520000,12765.84,33.25,170.560000,13753356.0,3.10,0.23,0.0164,1.0,0.943587,6.910000,0,0,0,0,0,0,1,0
2,943.420000,12765.84,88.27,143.580000,6892003.0,7.70,0.23,0.0396,1.0,0.945027,6.090000,0,0,0,0,0,0,1,0
3,828.130000,38182.08,73.66,151.760000,8316793.0,4.80,0.03,0.0431,74.9,1.110000,5.600000,1,0,0,0,0,0,0,0
4,486.022384,3351.28,23.79,127.723986,3943312.0,8.06,-0.43,0.0244,1.0,1.070000,9.460000,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7378,773.910000,11270.15,40.28,61.370000,19212221.0,4.34,0.78,0.0340,74.9,0.980000,4.988394,0,0,1,0,0,1,0,0
7379,61.970000,55722.00,79.56,62.900000,8108942.0,3.48,0.23,0.0528,17.7,0.840000,5.046814,0,1,0,0,0,0,1,0
7380,131.990000,55722.00,26.16,198.770000,8382586.0,3.04,0.03,0.0359,17.7,1.220000,5.095593,0,1,0,0,0,0,0,0
7381,643.720000,3351.28,29.24,38.830000,18638400.0,2.66,0.03,0.0581,1.0,1.040000,4.991672,0,0,0,1,0,0,0,0
7382,126.460000,3351.28,23.30,105.830000,14707806.0,7.51,0.23,0.0490,1.0,1.230000,5.091998,0,0,0,1,0,0,1,0

In [22]:
Y = dummy_df_converted.loc[:,["Stock Price"]]

In [23]:
Y.shape

(7383, 1)

In [24]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X)

In [25]:
X_train = np.array(X_train)

In [26]:
Y_train = np.array(Y)

In [27]:
# now on test dataset

In [28]:
test_df = pd.read_excel("Test_dataset.xlsx")

In [29]:
test_df

,Stock Index,Index,Industry,VWAP,General Index,NAV,P/E Ratio,Volumes Traded,Inventory Turnover,Covid Impact (Beta),Tracking Error,Dollar Exchange Rate,Put-Call Ratio,P/B Ratio
0,AC3235,NSE,Materials,53.30,11270.15,44.59,185.09,12067855.0,2.78,0.03,0.0330,74.9,0.80,4.66
1,AC3236,JSE,Energy,749.34,55722.00,74.20,34.01,6172474.0,6.78,0.11,0.0464,17.7,0.86,6.11
2,AC3237,S&P 500,Information Tech,567.75,3351.28,88.41,177.40,17472488.0,4.36,0.23,0.0401,1.0,0.93,4.99
3,AC3238,NSE,Healthcare,646.78,11270.15,79.36,105.44,15553159.0,2.77,0.78,0.0187,74.9,1.09,1.26
4,AC3239,NYSE,Materials,380.33,12765.84,19.90,139.40,12525784.0,5.93,0.03,0.0261,1.0,NaN,6.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3326,AD2734,NSE,Energy,121.58,11270.15,11.93,122.28,14034395.0,2.87,0.11,0.0602,74.9,0.86,7.87
3327,AD2735,BSE,Energy,692.25,38182.08,NaN,NaN,NaN,NaN,0.11,0.0388,74.9,0.64,0.95
3328,AD2736,NSE,Energy,911.37,11270.15,NaN,NaN,NaN,NaN,0.11,0.0166,74.9,0.67,7.54
3329,AD2737,BSE,Healthcare,479.38,38182.08,20.52,176.89,3069831.0,3.60,0.78,0.0495,74.9,0.79,4.01
3330,AD2738,NYSE,Information Tech,431.43,12765.84,76.46,172.70,12358856.0,6.68,0.23,0.0609,1.0,0.74,4.98

In [30]:
test_df.isnull().sum()

Stock Index               0
Index                     0
Industry                  0
VWAP                     12
General Index           271
NAV                     275
P/E Ratio               292
Volumes Traded           48
Inventory Turnover       30
Covid Impact (Beta)      31
Tracking Error          126
Dollar Exchange Rate    143
Put-Call Ratio          429
P/B Ratio               138
dtype: int64

In [31]:
# explicitly require this experimental feature
from sklearn.experimental import enable_iterative_imputer  # noqa
# now you can import normally from sklearn.impute
from sklearn.impute import IterativeImputer
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.linear_model import BayesianRidge
import random

imputer_test = IterativeImputer(BayesianRidge())
test_df_num = test_df.drop(["Stock Index", "Index", "Industry"], axis=1)
imputer_test.fit(test_df_num)

IterativeImputer(add_indicator=False,
                 estimator=BayesianRidge(alpha_1=1e-06, alpha_2=1e-06,
                                         compute_score=False, copy_X=True,
                                         fit_intercept=True, lambda_1=1e-06,
                                         lambda_2=1e-06, n_iter=300,
                                         normalize=False, tol=0.001,
                                         verbose=False),
                 imputation_order='ascending', initial_strategy='mean',
                 max_iter=10, max_value=None, min_value=None,
                 missing_values=nan, n_nearest_features=None, random_state=None,
                 sample_posterior=False, tol=0.001, verbose=0)

In [32]:
X_test = imputer_test.transform(test_df_num)

In [33]:
test_df_tr = pd.DataFrame(X_test,columns=test_df_num.columns)

In [34]:
test_df_tr

,VWAP,General Index,NAV,P/E Ratio,Volumes Traded,Inventory Turnover,Covid Impact (Beta),Tracking Error,Dollar Exchange Rate,Put-Call Ratio,P/B Ratio
0,53.30,11270.15,44.590000,185.090000,1.206786e+07,2.780000,0.03,0.0330,74.9,0.800000,4.66
1,749.34,55722.00,74.200000,34.010000,6.172474e+06,6.780000,0.11,0.0464,17.7,0.860000,6.11
2,567.75,3351.28,88.410000,177.400000,1.747249e+07,4.360000,0.23,0.0401,1.0,0.930000,4.99
3,646.78,11270.15,79.360000,105.440000,1.555316e+07,2.770000,0.78,0.0187,74.9,1.090000,1.26
4,380.33,12765.84,19.900000,139.400000,1.252578e+07,5.930000,0.03,0.0261,1.0,0.942434,6.18
...,...,...,...,...,...,...,...,...,...,...,...
3326,121.58,11270.15,11.930000,122.280000,1.403440e+07,2.870000,0.11,0.0602,74.9,0.860000,7.87
3327,692.25,38182.08,54.571840,103.933472,1.018309e+07,5.446767,0.11,0.0388,74.9,0.640000,0.95
3328,911.37,11270.15,53.949185,105.695531,1.018308e+07,5.509917,0.11,0.0166,74.9,0.670000,7.54
3329,479.38,38182.08,20.520000,176.890000,3.069831e+06,3.600000,0.78,0.0495,74.9,0.790000,4.01
3330,431.43,12765.84,76.460000,172.700000,1.235886e+07,6.680000,0.23,0.0609,1.0,0.740000,4.98

In [35]:
df_test_1 = test_df.loc[:,["Stock Index", "Index", "Industry"]]
test_new_df = pd.concat([df_test_1, test_df_tr], axis=1)

In [36]:
test_new_df

,Stock Index,Index,Industry,VWAP,General Index,NAV,P/E Ratio,Volumes Traded,Inventory Turnover,Covid Impact (Beta),Tracking Error,Dollar Exchange Rate,Put-Call Ratio,P/B Ratio
0,AC3235,NSE,Materials,53.30,11270.15,44.590000,185.090000,1.206786e+07,2.780000,0.03,0.0330,74.9,0.800000,4.66
1,AC3236,JSE,Energy,749.34,55722.00,74.200000,34.010000,6.172474e+06,6.780000,0.11,0.0464,17.7,0.860000,6.11
2,AC3237,S&P 500,Information Tech,567.75,3351.28,88.410000,177.400000,1.747249e+07,4.360000,0.23,0.0401,1.0,0.930000,4.99
3,AC3238,NSE,Healthcare,646.78,11270.15,79.360000,105.440000,1.555316e+07,2.770000,0.78,0.0187,74.9,1.090000,1.26
4,AC3239,NYSE,Materials,380.33,12765.84,19.900000,139.400000,1.252578e+07,5.930000,0.03,0.0261,1.0,0.942434,6.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3326,AD2734,NSE,Energy,121.58,11270.15,11.930000,122.280000,1.403440e+07,2.870000,0.11,0.0602,74.9,0.860000,7.87
3327,AD2735,BSE,Energy,692.25,38182.08,54.571840,103.933472,1.018309e+07,5.446767,0.11,0.0388,74.9,0.640000,0.95
3328,AD2736,NSE,Energy,911.37,11270.15,53.949185,105.695531,1.018308e+07,5.509917,0.11,0.0166,74.9,0.670000,7.54
3329,AD2737,BSE,Healthcare,479.38,38182.08,20.520000,176.890000,3.069831e+06,3.600000,0.78,0.0495,74.9,0.790000,4.01
3330,AD2738,NYSE,Information Tech,431.43,12765.84,76.460000,172.700000,1.235886e+07,6.680000,0.23,0.0609,1.0,0.740000,4.98

In [37]:
dummy_test_df_converted = pd.get_dummies(test_new_df, columns=["Index", "Industry"])

In [38]:
# dummy_test_df_converted

In [39]:
X_test = dummy_test_df_converted.drop(["Stock Index", "Index_NYSE", "Industry_Materials"], axis=1)

In [40]:
X_test

,VWAP,General Index,NAV,P/E Ratio,Volumes Traded,Inventory Turnover,Covid Impact (Beta),Tracking Error,Dollar Exchange Rate,Put-Call Ratio,P/B Ratio,Index_BSE,Index_JSE,Index_NSE,Index_S&P 500,Industry_Energy,Industry_Healthcare,Industry_Information Tech,Industry_Real Estate
0,53.30,11270.15,44.590000,185.090000,1.206786e+07,2.780000,0.03,0.0330,74.9,0.800000,4.66,0,0,1,0,0,0,0,0
1,749.34,55722.00,74.200000,34.010000,6.172474e+06,6.780000,0.11,0.0464,17.7,0.860000,6.11,0,1,0,0,1,0,0,0
2,567.75,3351.28,88.410000,177.400000,1.747249e+07,4.360000,0.23,0.0401,1.0,0.930000,4.99,0,0,0,1,0,0,1,0
3,646.78,11270.15,79.360000,105.440000,1.555316e+07,2.770000,0.78,0.0187,74.9,1.090000,1.26,0,0,1,0,0,1,0,0
4,380.33,12765.84,19.900000,139.400000,1.252578e+07,5.930000,0.03,0.0261,1.0,0.942434,6.18,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3326,121.58,11270.15,11.930000,122.280000,1.403440e+07,2.870000,0.11,0.0602,74.9,0.860000,7.87,0,0,1,0,1,0,0,0
3327,692.25,38182.08,54.571840,103.933472,1.018309e+07,5.446767,0.11,0.0388,74.9,0.640000,0.95,1,0,0,0,1,0,0,0
3328,911.37,11270.15,53.949185,105.695531,1.018308e+07,5.509917,0.11,0.0166,74.9,0.670000,7.54,0,0,1,0,1,0,0,0
3329,479.38,38182.08,20.520000,176.890000,3.069831e+06,3.600000,0.78,0.0495,74.9,0.790000,4.01,1,0,0,0,0,1,0,0
3330,431.43,12765.84,76.460000,172.700000,1.235886e+07,6.680000,0.23,0.0609,1.0,0.740000,4.98,0,0,0,0,0,0,1,0

In [41]:
X_test = np.array(X_test)

In [42]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_test = scaler.fit_transform(X_test)

In [43]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0) 
regressor.fit(X_train, Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [53]:
stock_price = regressor.predict(X_test)

In [54]:
stock_price

array([ 835.14206596,  224.39111792, 1655.40087612, ...,  580.92857264,
        354.87652255, 1351.44392935])

In [57]:
dict = {'Stock_Price':stock_price}

In [58]:
Stock_price = pd.DataFrame(dict)

In [60]:
Stock_price

      Stock_Price
0      835.142066
1      224.391118
2     1655.400876
3      844.446684
4      262.298028
...           ...
3326   133.146502
3327   577.557111
3328   580.928573
3329   354.876523
3330  1351.443929

[3331 rows x 1 columns]

In [61]:
df_stock_index = test_new_df.loc[:,["Stock Index"]]

In [66]:
file =  pd.concat([df_stock_index, Stock_price], axis=1)
file

     Stock Index  Stock_Price
0         AC3235   835.142066
1         AC3236   224.391118
2         AC3237  1655.400876
3         AC3238   844.446684
4         AC3239   262.298028
...          ...          ...
3326      AD2734   133.146502
3327      AD2735   577.557111
3328      AD2736   580.928573
3329      AD2737   354.876523
3330      AD2738  1351.443929

[3331 rows x 2 columns]

In [67]:
file.to_csv("Stock_price on 10th August.csv")